html,
body {
  height: 100%;
  /* overflow-x: hidden; */
  width: 100%;
}
.App {
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}
.grid {
  text-align: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
